
html {
height: 100%;
line-height: 1.65;
margin: 0;
padding: 0;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
body {
font-style: normal;
font-weight: 400;
height: 100%;
hyphens: none;
margin: 16px 0 0;
margin: 1rem 0 0;
min-height: 100%;
padding: 0;
word-wrap: break-word;
-epub-hyphens: none;
-moz-hyphens: none;
-ms-hyphens: none;
-o-hyphens: none;
-webkit-hyphens: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
header,
main,
footer,
article {
clear: both;
display: block;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-header {
clear: both;
float: left;
margin: 0;
padding: 0;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-footer {
clear: both;
float: left;
margin: 0;
padding: 0;
text-align: center;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-page {
clear: both;
float: none;
margin: 0 auto;
min-height: 100%;
min-width: 200px;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-wrapper {
clear: both;
margin: 0 auto;
min-width: 200px;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-wrapper-spaced {
clear: both;
margin: 0 auto;
min-width: 200px;
padding: 16px 0;
padding: 1rem 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-wrapper-divide {
clear: both;
float: left;
height: 8px;
height: .5rem;
margin: 8px 0;
margin: .5rem 0;
padding: 0;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-section {
clear: both;
margin: 0 auto;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-frame {
clear: both;
float: left;
margin: 0;
padding: 0 16px;
padding: 0 1rem;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-header::after,
.primal-page::after,
.primal-footer::before,
.primal-wrapper::after,
.primal-wrapper-divide::after,
.primal-section::before,
.primal-section::after,
.primal-box::before,
.primal-box::after {
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
float: left;
margin-left: 2.5641025641026%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.one-half,
.three-sixths,
.two-fourths {
width: 48.717948717949%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.one-third,
.two-sixths {
width: 31.623931623932%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.four-sixths,
.two-thirds {
width: 65.811965811966%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.one-fourth {
width: 23.076923076923%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.three-fourths {
width: 74.358974358974%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.one-sixth {
width: 14.529914529915%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.five-sixths {
width: 82.905982905983%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.first {
clear: both;
margin-left: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a {
text-decoration: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a:visited {
text-decoration: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a:hover {
text-decoration: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a:active {
text-decoration: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-header-nav,
.primal-footer-nav  {
clear: both;
float: none;
margin: 0;
padding: 0;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-header-menu,
.primal-footer-menu {
background: transparent;
float: none;
overflow: hidden;
position: relative;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-header-menu ul,
.primal-footer-menu ul {
background: transparent;
clear: left;
float: none;
/*left: 50%;*/
list-style: none;
margin: 0;
padding: 0;
position: relative;
text-align: center;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-header-menu ul li,
.primal-footer-menu ul li {
background: transparent;
display: inline;
/*float: left;*/
list-style: none;
/*margin: 0;*/
padding: 0;
position: relative;
/*right: 50%;*/
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-header-menu ul li a,
.primal-footer-menu ul li a {
background: transparent;
border: none;
display: inline-block;
line-height: 24px;
line-height: 1.5rem;
margin: 0 0 0 1px;
padding: 8px 16px;
padding: .5rem 1rem;
text-decoration: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.primal-header-nav {
-moz-border-radius: 30px 30px 0 0;
-webkit-border-radius: 30px 30px 0 0;
border-radius: 30px 30px 0 0;
border: 0;
border:none;
}
.primal-footer-nav {
-moz-border-radius: 0 0 30px 30px ;
-webkit-border-radius: 0 0 30px 30px;
border-radius: 0 0 30px 30px;
border: 0;
border:none;
}

.primal-pagination-wrap {
text-align: center;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination {
margin: 16px auto;
margin: 1rem auto;
text-align: center;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination li {
display: none;
margin: 0 4px;
margin: 0 .25rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination li.button {
display: inline-block;
margin-bottom: 3px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination a,
.primal-pagination span {
display: inline-block;
padding: 8px 10px;
padding: .5rem .7rem;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination a {
border-radius: 4px;
border-radius: .25em;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination a:active {
-webkit-transform: scale(0.9);
-moz-transform: scale(0.9);
-ms-transform: scale(0.9);
-o-transform: scale(0.9);
transform: scale(0.9);
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination a.disabled {
pointer-events: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination a.disabled::before,
.primal-pagination a.disabled::after {
opacity: .4;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination .button:first-of-type a::before {
content: '\00ab';
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination .button:last-of-type a::after {
content: ' \00bb';
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination .current {
pointer-events: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.custom-icons .button a {
position: relative;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.custom-icons .button:first-of-type a {
padding-left: 4px;
padding-left: 2.5rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.custom-icons .button:last-of-type a {
padding-right: 4px;
padding-right: 2.5rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.custom-icons .button:first-of-type a::before,
.custom-icons .button:last-of-type a::after {
content: '';
display: inline-block;
height: 16px;
height: 1rem;
margin-top: -8px;
margin-top: -.5rem;
position: absolute;
top: 50%;
width: 16px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.custom-icons .button:first-of-type a::before {
left: 12px;
left: .75rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.custom-icons .button:last-of-type a::after {
right: 12px;
right: .75rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pagination-wrap::before,
.primal-pagination::before,
.primal-pagination li::before,
.primal-pagination li.button::before,
.primal-pagination a::before,
.primal-pagination span::before,
.primal-pagination a:active::before,
.primal-pagination a.disabled::before,
.primal-pagination .current::before,
.custom-icons .button a::before,
.custom-icons .button:first-of-type a::before,
.custom-icons .button:last-of-type a::before {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-shortcuts {
font-style: normal;
font-weight: 400;
line-height: 32px;
line-height: 2rem;
margin: 8px 16px 16px;
margin: .5rem 1rem 1rem;
padding: 0;
text-align: justify;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-shortcuts a {
border-style: solid;
border-width: 1px;
border-radius: 5px;
display: block;
padding: 8px;
padding: .5rem;
text-decoration: none;
-moz-user-select: none;
-ms-user-select: none;
-webkit-user-select: none;
user-select: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-shortcuts a:hover {
border-style: solid;
border-width: 1px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-button {
border: none;
display: inline-block;
font-style: normal;
font-weight: 400;
height: 32px;
height: 2rem;
line-height: 32px;
line-height: 2rem;
margin: 0;
padding: 0 12px;
padding: 0 .75rem;
text-decoration: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-button:hover {
border: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
img {
display: block;
height: auto;
margin: 0 auto;
max-width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-imgcenter {
display: block;
height: auto;
margin: 0 auto;
max-width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-imgleft {
clear: both;
float: left;
height: auto;
margin: auto auto 24px 0;
margin: auto auto 1.5rem 0;
max-width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-imgright {
float: right;
height: auto;
margin: auto auto 0 24px;
margin: auto auto 0 1.5rem;
max-width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a img {
border: none;
margin-bottom: -4px;
margin-bottom: -.25rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-colimg-left {
clear: both;
display: block;
float: left;
height: auto;
margin: 16px 0 16px 24px;
margin: 1rem 0 1rem 1.5rem;
padding: 0;
max-width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-colimg-right {
clear: both;
display: block;
float: right;
height: auto;
margin: 16px 24px 16px 0;
margin: 1rem 1.5rem 1rem 0;
max-width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-menu-img {
clear: both;
display: block;
float: left;
height: auto;
margin: 16px 0 16px 8px;
margin: 1rem 0 1rem .5rem;
padding: 0;
max-width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a.primal-menu-img {
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
audio,
embed,
iframe,
object,
video {
border: none;
clear: both;
display: block;
height: auto;
margin: 0 auto;
max-width: 600px;
overflow: hidden;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.fluidvids {
display: block;
margin: 0 auto;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
ol,
ul {
font-style: normal;
font-weight: 400;
list-style-position: inside;
margin: 0;
padding: 0 32px;
padding: 0 2rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
ol {
list-style: decimal;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
ol ol {
list-style: upper-latin;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
ul {
list-style: square;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
ul ul {
list-style: disc;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
ol ol,
ol ul,
ul ol,
ul ul {
margin: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.one-half ul {
margin: 0;
}
li {
margin: 0 0 0 24px;
margin: 0 0 0 1.5rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
ol,
ul {
margin: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.double-list-left {
font-style: normal;
font-weight: 400;
list-style-position: inside;
list-style-type: square;
margin: 0 32px 24px 0;
margin: 0 2rem 1.5rem 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.double-list-right {
font-style: normal;
font-weight: 400;
list-style-position: inside;
list-style-type: square;
margin: 0 0 24px 32px;
margin: 0 0 1.5rem 2rem;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.double-list-left li,
.double-list-right li,
.double-list-left li a,
.double-list-right li a {
    display: block;
}
.primal-menu-list {
clear: both;
display: block;
font-style: normal;
font-weight: 400;
letter-spacing: .1em;
line-height: 24px;
line-height: 1.5rem;
margin: 16px 0 0;
margin: 1rem 0 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-menu-list li {
padding: 0 0 16px 16px;
padding: 0 0 1rem 1rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-menu-list a,
.primal-menu-list a:visited,
.primal-menu-list a:hover,
.primal-menu-list a:active,
.primal-menu-title a {
border: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
h1 {
clear: both;
display: block;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 160%;
font-style: normal;
font-weight: 400;
font-variant: small-caps;
letter-spacing: .1em;
line-height: 32px;
line-height: 2rem;
margin: 0;
padding: 32px 24px;
padding: 2rem 1.5rem;
text-align: center;
text-transform: capitalize;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
h2 {
clear: both;
display: block;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 140%;
font-style: normal;
font-variant: small-caps;
font-weight: 400;
letter-spacing: .1em;
line-height: 24px;
line-height: 1.5rem;
margin: 0;
padding: 24px 24px 16px;
padding: 1.5rem 1.5rem 1rem;
text-transform: capitalize;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
h3 {
clear: both;
display: block;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 130%;
font-style: normal;
font-variant: small-caps;
font-weight: 400;
line-height: 24px;
line-height: 1.5rem;
padding: 16px 24px;
padding: 1rem 1.5rem;
text-align: center;
text-transform: capitalize;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
h4 {
display: block;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 120%;
font-style: normal;
font-style: italic;
font-weight: 400;
font-variant: small-caps;
line-height: 24px;
line-height: 1.5rem;
margin: 0;
padding: 24px 24px 16px;
padding: 1.5rem 1.5rem 1rem;
text-align: left;
text-transform: capitalize;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
blockquote {
font-style: normal;
font-weight: 400;
margin: 24px 40px;
margin: 1.5rem 3.5rem;
padding: 0 32px;
padding: 0 2rem;
text-align: justify;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
blockquote::before {
content: "\201C";
display: block;
font-style: normal;
font-weight: 400;
height: 0;
left: -64px;
left: -4rem;
margin: 0;
padding: 0;
position: relative;
top: -32px;
top: -2rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
blockquote::after,
blockquote blockquote::before {
content: '';
content: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
blockquote::before {
color: #ddd;
}
a {
color: #4076a2;
}
a:visited {
color: #4076a2;
}
a:active {
color: #4076a2;
}
a:hover {
color: #000;
}
.primal-shortcuts a {
color: #393311;
}
.primal-shortcuts a:hover {
color: #000;
}
.primal-date {
color: inherit;
}
.primal-header-menu ul li a.active,
.primal-header-menu ul li a.active:hover {
color: #fff;
}
.primal-header-menu ul li a {
color: #fff;
}
.primal-header-menu ul li a:hover {
color: #ddd;
}
.primal-footer-menu ul li a:hover {
color: #ddd;
}
.primal-footer-menu ul li a.active,
.primal-footer-menu ul li a.active:hover {
color: #fff;
}
.primal-footer-menu ul li a {
color: #fff;
}
.primal-button,
.primal-button-center,
.primal-button:active,
.primal-button-center:active,
.primal-button:visited,
.primal-button-center:visited,
.primal-button:hover,
.primal-button-center:hover {
color: #ddd;
}
.primal-button:hover,
.primal-button-center:hover {
color: #fafafa;
}

.primal-pagination a {
color: inherit;
}
.primal-drop-cap {
color: #7d9fb6;
}
.primal-wrapper-divide {
background-color: #f3eed8;
opacity: 0;
}
.primal-footer-fade,
.primal-footer-fade a,
.primal-footer-fade a:visited,
.primal-footer-fade a:active,
.primal-footer-fade a:hover {
color: #ccc;
}
.non-indented-right-trebuchet {
color: #393311;
}
.non-indented-left-trebuchet {
color: #393311;
}
.non-indented-right-georgia {
color: #393311;
}
.non-indented-left-georgia {
color: #393311;
}
.non-indented-right-arial {
color: #393311;
}
.non-indented-left-arial {
color: #393311;
}
.non-indented-right-courier {
color: #393311;
}
.non-indented-right-palatino {
color: #393311;
}
.non-indented-justified-georgia {
color: #393311;
}
.non-indented-left-verdana {
color: #393311;
}
.indented-left-trebuchet {
color: #393311;
}
.indented-left-georgia {
color: #393311;
}
.indented-left-ariel {
color: #393311;
}
.indented-justified-ariel {
color: #393311;
}
.center-georgia {
color: #393311;
}
.standout-right-georgia {
color: #393311;
}
.standout-left-georgia {
color: #393311;
}
.standout-left-courier {
color: #393311;
}
.right-column-trebuchet {
color: #393311;
}
.left-column-trebuchet {
color: #393311;
}
.right-column-georgia {
color: #393311;
}
.left-column-georgia {
color: #393311;
}
.primal-pic-text-left {
color: #ccc;
}
.primal-pic-text-right {
color: #ccc;
}
.primal-pic-text-col-left {
color: #ccc;
}
.primal-pic-text-col-right {
color: #ccc;
}
.primal-text-center {
color: #ccc;
}
.non-indented-right-verdana-light,
.non-indented-left-verdana-light {
color: #666;
}
.primal-box {
color: #fff;
}
.primal-box-text-center {
color: #fff;
}
.primal-box-text-right {
color: #fff;
}
.primal-box-text-left {
color: #fff;
}
.primal-pagination .disabled {
color: #e6e6e6;
}
.primal-pagination .current {
color: #fff;
}
.primal-pagination.custom-buttons .button a {
color: transparent;
}
.primal-abstract-details {
color: #333;
}
.primal-abstract-text {
color: #393311;
}
body {
background-color: #315b7d;
}
.primal-page {
background-color: #fafafa;
}
.primal-pagination .current {
background-color: #4076a2;
}
.primal-shortcuts a:hover {
background: #efece9;
}
.primal-header-nav {
background: #4076a2;
}
.primal-footer-nav {
background: #4076a2;
}
.primal-button,
.primal-button-center,
.primal-button:active,
.primal-button-center:active,
.primal-button:visited,
.primal-button-center:visited,
.primal-button:hover,
.primal-button-center:hover {
background-color: #4076a2;
}
.primal-bg-1 {
background-color: #c0b47a;
}
.primal-bg-2 {
background-color: #c45c03;
}
.primal-bg-3 {
background-color: #835466;
}
.primal-bg-4 {
background-color: #4b4d64;
}
.primal-bg-5 {
background-color: #e0dbd5;
}
.primal-bg-6 {
background-color: #7ca5c3;
}
.primal-bg-7 {
background-color: #93bec4;
}
.primal-bg-8 {
background-color: #77849b;
}
.primal-bg-9 {
background-color: #f08558;
}
.primal-bg-10 {
background-color: #7d9fb6;
}
.primal-bg-11 {
background-color: #302f3e;
}
.primal-bg-12 {
background-color: #c4c3a5;
}
.primal-bg-13 {
background-color: #a98f29;
}
.standout-right-georgia {
border-color: #3e4966;
}
.standout-left-georgia {
border-color: #3e4966;
}
.standout-left-courier {
border-color: #3e4966;
}
.center-georgia {
border-color: #3e4966;
}
.primal-pagination a,
.primal-pagination.no-space,
.primal-pagination.no-space li {
border: 1px solid #e6e6e6;
}
.primal-pagination .current {
border-color: #4076a2;
}
.primal-shortcuts a:hover {
border-color: #e0dbd5;
}
.primal-shortcuts a {
border-color: transparent;
}
.primal-sitemap-item {
    border-bottom: 1px dashed #eee;
    border-left: 2px solid #D2B43C;
    padding-left: 8px;
    margin-bottom: 8px;
}
.primal-sitemap-item {
    border-bottom: 1px dashed #eee;
    border-left: 2px solid #D2B43C;
    padding-left: 8px;
    margin-bottom: 8px;
}
.primal-sitemap-item a:hover {
   color: #D2B43C; 
}
body {
background-image: url(_img/theme/theme-bodyback.png);
background-repeat: repeat;
}
.primal-page {
background-repeat: repeat;
}
.primal-wrapper-divide {
background-image: url(_img/theme/bg.jpg);
background-repeat: repeat;    

}
.custom-icons .button:first-of-type a::before {
content: "\25C0";
}
.custom-icons .button:last-of-type a::after {
content: "\25b6";
}
html {
font-size: 100%;
}
body {
font-size: 16px;
font-size: 1rem;
}
p {
display: block;
font-size: 16px;
font-size: 1rem;
line-height: 32px;
line-height: 2rem;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-abstract-details {
font-size: 90%;
font-style: normal;
font-weight: 400;
line-height: 24px;
line-height: 1.5rem;
margin: 0;
padding: 0 24px 32px 24px;
padding: 0 1.5rem 2rem 1.5rem;
text-align: left;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-abstract-text {
font-size: 100%;
font-style: normal;
font-weight: 400;
line-height: 24px;
line-height: 1.5rem;
margin: 0;
padding: 0 24px;
padding: 0 1.5rem;
text-align: left;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-header {
font-size: 100%;
}
.primal-footer {
font-size: 100%;
}
blockquote {
font-size: 120%;
}
blockquote::before {
font-size: 600%;
}

.primal-button {
font-size: 90%;
}
ol {
font-size: 90%;
}
ul {
font-size: 90%;
}
.double-list-left {
font-size: 90%;
}
.double-list-right {
font-size: 90%;
}
.primal-menu-list {
font-size: 90%;
}
.primal-pagination-wrap {
font-size: .75rem;
}
.primal-shortcuts {
font-size: 90%;
}
.primal-menu-title {
font-size: 100%;
font-variant: normal;
margin: 0 0 0 24px;
margin: 0 0 0 1.5rem;
padding: 0;
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-drop-cap {
font-size: 300%;
font-style: normal;
font-weight: 400;
line-height: 24px;
line-height: 1.5rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-footer-fade {
border: 0;
clear: both;
display: block;
float: none;
font-size: 70%;
font-style: normal;
font-weight: 400;
line-height: 16px;
line-height: 1rem;
margin: 8px 32px;
margin: .5rem 2rem;
padding: 0;
text-align: center;
text-decoration: none;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-footer-fade,
.primal-footer-fade a,
.primal-footer-fade a:visited,
.primal-footer-fade a:active,
.primal-footer-fade a:hover {
border: 0;
}
ul,
.double-list-left,
.double-list-right {
font-size: 90%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pic-text-left {
clear: both;
display: block;
float: left;
font-size: 90%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pic-text-right {
clear: both;
display: block;
float: right;
font-size: 90%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: right;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pic-text-col-left {
clear: both;
display: block;
float: left;
font-size: 90%;
font-style: normal;
font-weight: 400;
margin: 0 24px 16px;
margin: 0 1.5rem 1rem;
padding: 0;
text-align: left;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pic-text-col-right {
clear: both;
display: block;
float: right;
font-size: 90%;
font-style: normal;
font-weight: 400;
margin: 0 24px 16px;
margin: 0 1.5rem 1rem 1rem;
padding: 0;
text-align: right;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-column-small-text{
border: 0;
clear: both;
display: block;
float: none;
font-size: 80%;
font-style: normal;
font-weight: 400;
line-height: 16px;
line-height: 1rem;
margin: 0 0 16px 8px;
margin: 0 0 1rem .5rem;
padding: 0;
text-align: left;
text-decoration: none;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-clear-left {
float: left;
clear: both;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-clear-right {
float: right;
clear: both;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-text-right {
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-text-left {
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-text-center {
text-align: center;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-text-justify {
text-align: justify;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-box {
clear: both;
margin: 0 auto;
min-height: 200px;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-box-text-center {
font-size: 110%;
font-style: normal;
font-weight: 400;
letter-spacing: 1px;
letter-spacing: .1rem;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 16px 0;
padding: 1rem 0;
text-align: center;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-box-text-right {
font-size: 110%;
font-style: normal;
font-weight: 400;
letter-spacing: 1px;
letter-spacing: .1rem;
margin: 0 24px;
margin: 0 1.5rem;
padding: 16px 0;
padding: 1rem 0;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-box-text-left {
font-size: 110%;
font-style: normal;
font-weight: 400;
letter-spacing: 1px;
letter-spacing: .1rem;
margin: 0 24px;
margin: 0 1.5rem;
padding: 16px 0;
padding: 1rem 0;
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
body {
font-family: Georgia, "Times New Roman", Times, serif;
}
p {
font-family: Georgia, "Times New Roman", Times, serif;
}
blockquote {
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
blockquote::before {
font-family: Georgia, Times, "Times New Roman", serif;
}
.primal-button {
font-family: Verdana, Geneva, sans-serif;
}
ol {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
ul {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.primal-pagination-wrap {
font-family: Verdana, Geneva, sans-serif;
}
.primal-shortcuts {
font-family: Verdana, Geneva, sans-serif;
}
.primal-drop-cap {
font-family: Georgia, "Times New Roman", Times, serif;
}
.primal-footer-fade {
font-family: Verdana, Geneva, sans-serif;
}
.primal-column-small-text {
font-family: Verdana, Geneva, sans-serif;
}
ul,
.double-list-left,
.double-list-right {
font-family: Verdana, Geneva, sans-serif;
}
.primal-pic-text-left {
font-family: Verdana, Geneva, sans-serif;
}
.primal-pic-text-right {
font-family: Verdana, Geneva, sans-serif;
}
.primal-pic-text-col-left {
font-family: Verdana, Geneva, sans-serif;
}
.primal-pic-text-col-right {
font-family: Verdana, Geneva, sans-serif;
}
.primal-abstract-details {
font-family: Verdana, Geneva, sans-serif;
}
.primal-abstract-text {
font-family: Georgia, Times, "Times New Roman", serif;
}
.primal-box-text-right {
font-family: Georgia, Times, "Times New Roman", serif;
}
.primal-box-text-left {
font-family: Georgia, Times, "Times New Roman", serif;
}
.primal-box-text-right {
font-family: Georgia, Times, "Times New Roman", serif;
}
.non-indented-right-trebuchet {
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
font-size: 110%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-left-trebuchet {
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
font-size: 110%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.indented-left-trebuchet {
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
text-indent: 48px;
text-indent: 3rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.right-column-trebuchet {
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
font-size: 110%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.left-column-trebuchet {
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
font-size: 110%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-right-georgia {
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-left-georgia {
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-justified-georgia {
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 100%;
font-style: normal;
font-weight: 400;
letter-spacing: 1px;
letter-spacing: .1rem;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: justify;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.indented-left-georgia {
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
text-indent: 48px;
text-indent: 3rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.center-georgia {
border-top: double;
border-bottom: double;
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 110%;
font-style: normal;
font-weight: 400;
letter-spacing: 1px;
letter-spacing: .1rem;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 16px 0;
padding: 1rem 0;
text-align: center;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.standout-right-georgia {
border-width: 0 3px 0 0;
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0 16px 0 0;
padding: 0 1rem 0 0;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.standout-left-georgia {
border-width: 0 0 0 3px;
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0 0 0 16px;
padding: 0 0 0 1rem;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.right-column-georgia {
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 110%;
font-style: normal;
font-weight: 400;
margin: 16px 24px 16px 0;
margin: 1rem 1.5rem 1rem 0;
padding: 0;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.left-column-georgia {
font-family: Georgia, Times, "Times New Roman", serif;
font-size: 110%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-right-arial {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-left-arial {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.indented-left-ariel {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
text-indent: 48px;
text-indent: 3rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.indented-justified-ariel {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 100%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: justify;
text-indent: 48px;
text-indent: 3rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-right-courier {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
font-size: 130%;
font-style: normal;
font-weight: 700;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-left-courier {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.standout-left-courier {
border-width: 0 0 0 3px;
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
font-size: 120%;
font-style: normal;
font-weight: 400;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0 0 0 16px;
padding: 0 0 0 1rem;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-right-palatino {
font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Times, "Times New Roman", Georgia, serif;
font-size: 130%;
font-style: italic;
font-weight: 700;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: right;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-left-verdana {
font-family: Verdana, Geneva, sans-serif;
font-size: 90%;
font-style: normal;
font-weight: 400;
line-height: 24px;
line-height: 1.5rem;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-right-verdana-light {
font-family: Verdana, Geneva, sans-serif;
font-size: 90%;
font-style: normal;
font-weight: 400;
line-height: 24px;
line-height: 1.5rem;
padding: 0;
text-align: right;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.non-indented-left-verdana-light {
font-family: Verdana, Geneva, sans-serif;
font-size: 90%;
font-style: normal;
font-weight: 400;
line-height: 24px;
line-height: 1.5rem;
margin: 16px 24px;
margin: 1rem 1.5rem;
padding: 0;
text-align: left;
text-indent: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-big-text-left {
	background: transparent;
	clear: both;
	color: #7A7E50;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 120%;
	font-style: normal;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.5;
	margin: 0 0 16px;
	margin: 0 0 1rem;
	padding: 0;
	text-align: justify;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.primal-page,
.primal-wrapper,
.primal-wrapper-spaced,
.primal-pagination {
max-width: 600px;
}
.primal-imgleft-stars {
clear: both;
float: left;
height: auto;
margin: auto auto 24px 0;
margin: auto auto 1.5rem 0;
max-width: 100%;
width: 100px;
border: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
@media only screen and (max-width: 580px) {
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
margin: 0;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-colimg-right,
.primal-colimg-left,
.primal-imgcenter,
.primal-imgleft,
.primal-imgright,
.primal-imgcenter,
.primal-menu-img {
display: block;
height: auto;
float: none;
margin: 0 auto;
padding: 0;
max-width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
blockquote {
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
font-size: 110%;
font-style: normal;
font-weight: 400;
margin: 24px 32px;
margin: 1.5rem 2rem;
padding: 0 8px;
padding: 0 .5rem;
text-align: left;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
blockquote::before {
content: "\201C";
display: block;
font-size: 240%;
font-style: normal;
font-weight: 400;
height: 0;
left: -16px;
left: -1rem;
margin: 0;
padding: 0;
position: relative;
top: -16px;
top: -1rem;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
blockquote::after,
blockquote blockquote::before {
content: '';
content: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.primal-pic-text-col-left {
float: none;
margin: 16px auto;
margin: 1rem auto;
text-align: center;
}
.primal-pic-text-col-right {
float: none;
margin: 16px auto;
margin: 1rem auto;
text-align: center;
}
ul,
.double-list-right,
.double-list-left {
margin: 0 32px 24px 0;
margin: 0 2rem 1.5rem 0;
}
}
/*@media only screen and (min-width: 580px) {*/
.primal-pagination li {
display: inline-block;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
/*}